

{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- CHARSET -->
        <meta charset="utf-8">
        <!-- META -->
        <meta name="robots" content="noodp" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
        <meta name="Keywords" content="one, page, template, modern, premium, exclusive">
        <meta name="description" content="Premium html one page template available exclusively on themeforest.">
        <!-- PAGE TITLE -->
        <title>{{ data.title }}</title>
        <!-- FAVICON -->
        <link rel="shortcut icon" href="{% static 'img/icons/favicon.ico' %}">
        <!-- GOOGLE FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800|Open+Sans:300,400,600,700,800" rel="stylesheet">
        <!-- STYLESHEETS CORE -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/plugins.css' %}">
        <!-- STYLESHEETS TEMPLATE -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/hero.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/blocks.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
        <!-- STYLESHEET TEMPLATE COLOR -->

        {% block skin %}
        {% endblock %}

    </head>
    <body>

        <!-- PAGE LOADER -->
        <div id="page-loader">
            <!-- CONTAINER MID -->
            <div class="container-mid">
                {% if bg_img %}
                    {% for img in bg_img %}
                        <input type="hidden" class="bg_img" id="back_img{{ img.position }}" value="{{ img.photo.url }}">
                    {% endfor %}
                {% else %}
                    <input type="hidden" class="bg_img" id="back_img0" value="{% static 'img/bg_1.jpg' %}">
                    <input type="hidden" class="bg_img" id="back_img1" value="{% static 'img/bg_2.jpg' %}">
                    <input type="hidden" class="bg_img" id="back_img2" value="{% static 'img/bg_3.jpg' %}">
                {% endif %}


                <!-- SPINNER CONTAINER -->
                <div class="spinner-container">
                    <div class="css-spinner"></div>
                </div>
                <!-- /SPINNER CONTAINER -->
            </div>
            <!-- /CONTAINER MID -->
        </div>
        <!-- /PAGE LOADER -->
        <!-- MAIN -->
         {% block content %}
        {% endblock %}

        <!-- /MAIN-->
        <!-- JAVASCRIPTS CORE-->
        <script type="text/javascript" src="{% static 'js/plugin/jquery-1.12.4.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/plugin/plugins.js' %}"></script>
        <!-- JAVASCRIPTS TEMPLATE CONFIG -->
        <script type="text/javascript" src="{% static 'js/config.js' %}"></script>
        <!-- JAVASCRIPTS TEMPLATE -->
        <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/hero.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/blocks.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    </body>
</html>

