

{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- CHARSET -->
        <meta charset="utf-8">
        <!-- META -->
        <meta name="robots" content="noodp" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
        <meta name="Keywords" content="one, page, template, modern, premium, exclusive">
        <meta name="description" content="Premium html one page template available exclusively on themeforest.">
        <!-- PAGE TITLE -->
        <title> Who am i </title>
        <!-- FAVICON -->
        <link rel="shortcut icon" href="{% static 'img/icons/favicon.ico' %}">
        <!-- GOOGLE FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800|Open+Sans:300,400,600,700,800" rel="stylesheet">
        <!-- STYLESHEETS CORE -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/plugins.css' %}">
        <!-- STYLESHEETS TEMPLATE -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/hero.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/blocks.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
        <!-- STYLESHEET TEMPLATE COLOR -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/color/default.css' %}">
    </head>
    <body>
        <!-- PAGE LOADER -->
        <div id="page-loader">
            <!-- CONTAINER MID -->
            <div class="container-mid">
                <img src="assets/images/loading-logo.png" class="img-responsive" alt="image">
                <input type="hidden" id="back_img1" value="{% static 'img/bg_1.jpg' %}">
                <input type="hidden" id="back_img2" value="{% static 'img/bg_2.jpg' %}">
                <input type="hidden" id="back_img3" value="{% static 'img/bg_3.jpg' %}">
                <!-- SPINNER CONTAINER -->
                <div class="spinner-container">
                    <div class="css-spinner"></div>
                </div>
                <!-- /SPINNER CONTAINER -->
            </div>
            <!-- /CONTAINER MID -->
        </div>
        <!-- /PAGE LOADER -->
        <!-- MAIN -->
        <div id="main">
            <!-- HERO -->
            <section id="hero" class="hero hero-2">
                <!-- FRONT CONTENT -->
                <div class="front-content page-enter-animated">
                    <!-- CONTAINER MID -->
                    <div class="container-mid">
                        <!-- INNER FRONT CONTENT -->
                        <div class="inner 3d-hover">
                            <h1>Logo</h1>
                            <p>We create the brands of tomorrow.</p>
                        </div>
                        <!-- /INNER FRONT CONTENT -->
                    </div>
                    <!-- /CONTAINER MID -->
                    <div class="scroll-down"></div>
                    <!-- CONTROLS -->
                    <div class="controls">
                        <i class="volume-button fa fa-volume-up"></i>
                        <i class="pause-button ti-control-pause"></i>
                    </div>
                    <!--/ CONTROLS -->
                </div>
                <!-- /FRONT CONTENT -->
                <!-- BACKGROUND CONTENT -->
                <div class="background-content page-enter-animated">
                    <!-- LEVEL 1 -->
                    <div class="level-1">
                        <div class="bg-overlay"></div>
                        <div class="bg-pattern"></div>
                        <div id="canvas">
                            <canvas class="bg-effect layer" data-depth="0.2"></canvas>
                        </div>
                    </div>
                    <!-- /LEVEL 1 -->
                    <!-- LEVEL 2 -->
                    <div class="level-2">
                        <!-- PARALLAX BACKGROUND -->
                        <div class="dzsparallaxer auto-init allbody" data-options="{  mode_scroll: 'fromtop', animation_duration: '2' , direction: 'reverse' }">
                            <!-- PARALLAX TARGET -->
                            <div class="dzsparallaxer--target">
                                <div class="bg-image layer" data-depth="0.04"></div>
                                <div class="bg-video layer" data-depth="0.04"></div>
                                <div class="bg-color layer" data-depth="0.04"></div>
                            </div>
                            <!-- /PARALLAX TARGET -->
                        </div>
                        <!-- /PARALLAX BACKGROUND -->
                    </div>
                    <!-- /LEVEL 2 -->
                </div>
                <!-- /BACKGROUND CONTENT -->
            </section>
            <!-- /HERO -->
            <!-- NAVIGATION -->
            <nav class="navigation-main">
                <!-- CONTAINER -->
                <div class="container">
                    <!-- NAVIGATION HEADER -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                        <span class="ti-menu"></span>
                        </button>
                        <a class="navbar-brand" href="#"><img class="img-responsive" src="assets/images/logo-black.png" alt="" /></a>
                    </div>
                    <!-- /NAVIGATION HEADER -->
                    <!-- NAVBAR -->
                    <div id="navbar" class="navbar-collapse collapse">
                        <!-- MENU ITEMS LIST -->
                        <ul class="navigation-items nav navbar-nav navbar-right">
                            <li> <a class="phantom" href="#hero">Home</a> </li>
                            <li> <a href="#about">About</a> </li>
                            <li> <a href="#work">Work</a> </li>
                            <li> <a href="#contact">Contact</a> </li>
                            <!-- DROPDOWN MENU -->

                            <!-- /DROPDOWN MENU -->
                        </ul>
                        <!-- /MENU ITEMS LIST -->
                    </div>
                    <!-- /NAVBAR -->
                </div>
                <!-- /CONTAINER -->
            </nav>
            <!-- /NAVIGATION -->
            <!-- ABOUT -->
            <section id="about">
                <!-- CONTENT -->
                <div class="content bg-white block-about-1 padding-top-140 padding-bot-130">
                    <!-- CONTAINER -->
                    <div class="container text-left">
                        <!-- HEADER -->
                        <div class="header text-center scroll-animated-from-bottom">
                            <h1>About</h1>
                        </div>
                        <!-- /HEADER -->
                        <!-- ROW -->
                        <div class="row padding-top-50">
                            <!-- COLUMN -->
                            <div class="col-sm-6">
                                <img class="img-responsive scroll-animated-from-bottom" src="{% static 'img/about/about_1.jpg' %}" alt="image">
                                <p class="scroll-animated-from-bottom">
                                    Ut populo accusata qualisque his. Enim debitis forensibus vel ut, wisi iuvaret temporibus eu duo.
                                    Sonet ullamcorper mel ad, cu apeirian omittantur persequeris vis, ex veri definiebas ius.
                                    Pericula vituperata disputationi eu cum, et quo movet possim definiebas.
                                    Diam legendos assueverit at quo, te mea erat dolor qualisque, amet alia consulatu in eum.
                                    An modus ipsum suavitate mel, ea per simul iracundia. At sea debet voluptua inimicus, quando possim molestiae qui no.
                                    Ut docendi nominati repudiare usu.
                                </p>
                            </div>
                            <!-- /COLUMN -->
                            <!-- COLUMN -->
                            <div class="col-sm-6">
                                <h3 class="scroll-animated-from-bottom">
                                    We create experiences<br>
                                    that transform brands<br>
                                    and grow businesses.<br>
                                </h3>
                                <p class="scroll-animated-from-bottom">
                                    Lorem ipsum dolor sit amet, pri quodsi deserunt ea, vide omnes eum ad. Ex denique dissentiunt ullamcorper has.
                                    His nemore luptatum facilisi ne, at vis docendi aliquando, sea te eius laoreet eleifend. Usu modo quando propriae ea.
                                    Quaestio molestiae eos id, prompta luptatum scripserit ad eam, in nec vide imperdiet. Veniam soluta mentitum vel at.
                                </p>
                                <img class="img-responsive scroll-animated-from-bottom" src="{% static 'img/about/about_3.jpg' %}" alt="Edit me">
                            </div>
                            <!-- /COLUMN -->
                        </div>
                        <!-- ROW -->
                    </div>
                    <!-- /CONTAINER -->
                </div>
                <!-- /CONTENT -->
            </section>
            <!-- /ABOUT -->
            <!-- SERVICE -->
            <section id="work">
                <!-- CONTENT -->
                <div class="content bg-black bg-parallax block-service-1 padding-top-130 padding-bot-200">
                    <!-- CONTAINER -->
                    <div class="container text-center">
                        <!-- HEADER -->
                        <div class="header text-center scroll-animated-from-bottom">
                            <h1>Our Work</h1>
                        </div>
                        <!-- /HEADER -->
                        <!-- GRID -->
                        <div class="cbp work-grid">
                            <!-- ITEM -->
                            <div class="cbp-item">
                                <!-- CAPTION -->
                                <a href="pages/ajax/popups/showcases/showcase-popup-minimal-v1-slider.html" class="cbp-caption cbp-singlePage scroll-animated-from-bottom">
                                    <!-- CAPTION WRAPPER DEFAULT -->
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="assets/images/work/1.jpg" alt="work">
                                    </div>
                                    <!-- /CAPTION WRAPPER DEFAULT -->
                                    <!-- CAPTION WRAPPER ACTIVE -->
                                    <div class="cbp-caption-activeWrap">
                                        <!-- CAPTION BODY -->
                                        <div class="cbp-l-caption-alignCenter">
                                            <!-- CAPTION BODY INNER -->
                                            <div class="cbp-l-caption-body">
                                                <h5 class="hover-animated">Showcase Ajax</h5>
                                                <p class="hover-animated">Minimal / Slider</p>
                                            </div>
                                            <!-- /CAPTION BODY INNER -->
                                        </div>
                                        <!-- /CAPTION BODY -->
                                    </div>
                                    <!-- /CAPTION WRAPPER ACTIVE -->
                                </a>
                                <!-- /CAPTION -->
                            </div>
                            <!-- /ITEM -->
                            <!-- ITEM -->
                            <div class="cbp-item">
                                <!-- CAPTION -->
                                <a href="pages/ajax/popups/showcases/showcase-popup-minimal-v1-image.html" class="cbp-caption cbp-singlePage scroll-animated-from-bottom">
                                    <!-- CAPTION WRAPPER DEFAULT -->
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="assets/images/work/2.jpg" alt="work">
                                    </div>
                                    <!-- /CAPTION WRAPPER DEFAULT -->
                                    <!-- CAPTION WRAPPER ACTIVE -->
                                    <div class="cbp-caption-activeWrap">
                                        <!-- CAPTION BODY -->
                                        <div class="cbp-l-caption-alignCenter">
                                            <!-- CAPTION BODY INNER -->
                                            <div class="cbp-l-caption-body">
                                                <h5 class="hover-animated">Showcase Ajax</h5>
                                                <p class="hover-animated">Minimal / Image</p>
                                            </div>
                                            <!-- /CAPTION BODY INNER -->
                                        </div>
                                        <!-- /CAPTION BODY -->
                                    </div>
                                    <!-- /CAPTION WRAPPER ACTIVE -->
                                </a>
                                <!-- /CAPTION -->
                            </div>
                            <!-- /ITEM -->
                            <!-- ITEM -->
                            <div class="cbp-item">
                                <!-- CAPTION -->
                                <a href="pages/ajax/popups/showcases/showcase-popup-minimal-v1-video.html" class="cbp-caption cbp-singlePage scroll-animated-from-bottom">
                                    <!-- CAPTION WRAPPER DEFAULT -->
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="assets/images/work/3.jpg" alt="work">
                                    </div>
                                    <!-- /CAPTION WRAPPER DEFAULT -->
                                    <!-- CAPTION WRAPPER ACTIVE -->
                                    <div class="cbp-caption-activeWrap">
                                        <!-- CAPTION BODY -->
                                        <div class="cbp-l-caption-alignCenter">
                                            <!-- CAPTION BODY INNER -->
                                            <div class="cbp-l-caption-body">
                                                <h5 class="hover-animated">Showcase Ajax</h5>
                                                <p class="hover-animated">Minimal / Video</p>
                                            </div>
                                            <!-- /CAPTION BODY INNER -->
                                        </div>
                                        <!-- /CAPTION BODY -->
                                    </div>
                                    <!-- /CAPTION WRAPPER ACTIVE -->
                                </a>
                                <!-- /CAPTION -->
                            </div>
                            <!-- /ITEM -->
                            <!-- ITEM -->
                            <div class="cbp-item">
                                <!-- CAPTION -->
                                <a href="pages/ajax/popups/showcases/showcase-popup-full-page-image.html" class="cbp-caption cbp-singlePage scroll-animated-from-bottom">
                                    <!-- CAPTION WRAPPER DEFAULT -->
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="assets/images/work/4.jpg" alt="work">
                                    </div>
                                    <!-- /CAPTION WRAPPER DEFAULT -->
                                    <!-- CAPTION WRAPPER ACTIVE -->
                                    <div class="cbp-caption-activeWrap">
                                        <!-- CAPTION BODY -->
                                        <div class="cbp-l-caption-alignCenter">
                                            <!-- CAPTION BODY INNER -->
                                            <div class="cbp-l-caption-body">
                                                <h5 class="hover-animated">Showcase Ajax</h5>
                                                <p class="hover-animated">Full Page / Image</p>
                                            </div>
                                            <!-- /CAPTION BODY INNER -->
                                        </div>
                                        <!-- /CAPTION BODY -->
                                    </div>
                                    <!-- /CAPTION WRAPPER ACTIVE -->
                                </a>
                                <!-- /CAPTION -->
                            </div>
                            <!-- /ITEM -->
                            <!-- ITEM -->
                            <div class="cbp-item">
                                <!-- CAPTION -->
                                <a href="pages/ajax/popups/showcases/showcase-popup-full-page-video.html" class="cbp-caption cbp-singlePage scroll-animated-from-bottom">
                                    <!-- CAPTION WRAPPER DEFAULT -->
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="assets/images/work/5.jpg" alt="work">
                                    </div>
                                    <!-- /CAPTION WRAPPER DEFAULT -->
                                    <!-- CAPTION WRAPPER ACTIVE -->
                                    <div class="cbp-caption-activeWrap">
                                        <!-- CAPTION BODY -->
                                        <div class="cbp-l-caption-alignCenter">
                                            <!-- CAPTION BODY INNER -->
                                            <div class="cbp-l-caption-body">
                                                <h5 class="hover-animated">Showcase Ajax</h5>
                                                <p class="hover-animated">Full Page / Video</p>
                                            </div>
                                            <!-- /CAPTION BODY INNER -->
                                        </div>
                                        <!-- /CAPTION BODY -->
                                    </div>
                                    <!-- /CAPTION WRAPPER ACTIVE -->
                                </a>
                                <!-- /CAPTION -->
                            </div>
                            <!-- /ITEM -->
                            <!-- ITEM -->
                            <div class="cbp-item">
                                <!-- CAPTION -->
                                <a href="https://www.youtube.com/watch?v=tYry6NHnzVI?&showinfo=0&rel=0&iv_load_policy=3" class="cbp-caption cbp-lightbox scroll-animated-from-bottom">
                                    <!-- CAPTION WRAPPER DEFAULT -->
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="assets/images/work/6.jpg" alt="work">
                                    </div>
                                    <!-- /CAPTION WRAPPER DEFAULT -->
                                    <!-- CAPTION WRAPPER ACTIVE -->
                                    <div class="cbp-caption-activeWrap">
                                        <!-- CAPTION BODY -->
                                        <div class="cbp-l-caption-alignCenter">
                                            <!-- CAPTION BODY INNER -->
                                            <div class="cbp-l-caption-body">
                                                <h5 class="hover-animated">Showcase Ajax</h5>
                                                <p class="hover-animated">Lightbox / YouTube</p>
                                            </div>
                                            <!-- /CAPTION BODY INNER -->
                                        </div>
                                        <!-- /CAPTION BODY -->
                                    </div>
                                    <!-- /CAPTION WRAPPER ACTIVE -->
                                </a>
                                <!-- /CAPTION -->
                            </div>
                            <!-- /ITEM -->
                            <!-- ITEM -->
                            <div class="cbp-item">
                                <!-- CAPTION -->
                                <a href="assets/images/popup/showcase/1.jpg" class="cbp-caption cbp-lightbox scroll-animated-from-bottom">
                                    <!-- CAPTION WRAPPER DEFAULT -->
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="assets/images/work/7.jpg" alt="work">
                                    </div>
                                    <!-- /CAPTION WRAPPER DEFAULT -->
                                    <!-- CAPTION WRAPPER ACTIVE -->
                                    <div class="cbp-caption-activeWrap">
                                        <!-- CAPTION BODY -->
                                        <div class="cbp-l-caption-alignCenter">
                                            <!-- CAPTION BODY INNER -->
                                            <div class="cbp-l-caption-body">
                                                <h5 class="hover-animated">Showcase Ajax</h5>
                                                <p class="hover-animated">Lightbox / Image</p>
                                            </div>
                                            <!-- /CAPTION BODY INNER -->
                                        </div>
                                        <!-- /CAPTION BODY -->
                                    </div>
                                    <!-- /CAPTION WRAPPER ACTIVE -->
                                </a>
                                <!-- /CAPTION -->
                            </div>
                            <!-- /ITEM -->
                            <!-- ITEM -->
                            <div class="cbp-item">
                                <!-- CAPTION -->
                                <a href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/249032833&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" class="cbp-caption cbp-lightbox scroll-animated-from-bottom">
                                    <!-- CAPTION WRAPPER DEFAULT -->
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="assets/images/work/8.jpg" alt="work">
                                    </div>
                                    <!-- /CAPTION WRAPPER DEFAULT -->
                                    <!-- CAPTION WRAPPER ACTIVE -->
                                    <div class="cbp-caption-activeWrap">
                                        <!-- CAPTION BODY -->
                                        <div class="cbp-l-caption-alignCenter">
                                            <!-- CAPTION BODY INNER -->
                                            <div class="cbp-l-caption-body">
                                                <h5 class="hover-animated">Showcase Ajax</h5>
                                                <p class="hover-animated">Lightbox / Soundcloud</p>
                                            </div>
                                            <!-- /CAPTION BODY INNER -->
                                        </div>
                                        <!-- /CAPTION BODY -->
                                    </div>
                                    <!-- /CAPTION WRAPPER ACTIVE -->
                                </a>
                                <!-- /CAPTION -->
                            </div>
                            <!-- /ITEM -->
                            <!-- ITEM -->
                            <div class="cbp-item">
                                <!-- CAPTION -->
                                <a href="https://player.vimeo.com/video/119540843?title=0&byline=0&portrait=0" class="cbp-caption cbp-lightbox scroll-animated-from-bottom">
                                    <!-- CAPTION WRAPPER DEFAULT -->
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="assets/images/work/9.jpg" alt="work">
                                    </div>
                                    <!-- /CAPTION WRAPPER DEFAULT -->
                                    <!-- CAPTION WRAPPER ACTIVE -->
                                    <div class="cbp-caption-activeWrap">
                                        <!-- CAPTION BODY -->
                                        <div class="cbp-l-caption-alignCenter">
                                            <!-- CAPTION BODY INNER -->
                                            <div class="cbp-l-caption-body">
                                                <h5 class="hover-animated">Showcase Ajax</h5>
                                                <p class="hover-animated">Lightbox / Vimeo</p>
                                            </div>
                                            <!-- /CAPTION BODY INNER -->
                                        </div>
                                        <!-- /CAPTION BODY -->
                                    </div>
                                    <!-- /CAPTION WRAPPER ACTIVE -->
                                </a>
                                <!-- /CAPTION -->
                            </div>
                            <!-- /ITEM -->
                            <!-- ITEM -->
                            <div class="cbp-item">
                                <!-- CAPTION -->
                                <a href="assets/videos/1.mp4" class="cbp-caption cbp-lightbox scroll-animated-from-bottom">
                                    <!-- CAPTION WRAPPER DEFAULT -->
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="assets/images/work/10.jpg" alt="work">
                                    </div>
                                    <!-- /CAPTION WRAPPER DEFAULT -->
                                    <!-- CAPTION WRAPPER ACTIVE -->
                                    <div class="cbp-caption-activeWrap">
                                        <!-- CAPTION BODY -->
                                        <div class="cbp-l-caption-alignCenter">
                                            <!-- CAPTION BODY INNER -->
                                            <div class="cbp-l-caption-body">
                                                <h5 class="hover-animated">Showcase Ajax</h5>
                                                <p class="hover-animated">Lightbox / Video</p>
                                            </div>
                                            <!-- /CAPTION BODY INNER -->
                                        </div>
                                        <!-- /CAPTION BODY -->
                                    </div>
                                    <!-- /CAPTION WRAPPER ACTIVE -->
                                </a>
                                <!-- /CAPTION -->
                            </div>
                            <!-- /ITEM -->
                            <!-- ITEM -->
                            <div class="cbp-item">
                                <!-- CAPTION -->
                                <a href="pages/ajax/popups/showcases/showcase-popup-minimal-v2-image.html" class="cbp-caption cbp-singlePage scroll-animated-from-bottom">
                                    <!-- CAPTION WRAPPER DEFAULT -->
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="assets/images/work/11.jpg" alt="work">
                                    </div>
                                    <!-- /CAPTION WRAPPER DEFAULT -->
                                    <!-- CAPTION WRAPPER ACTIVE -->
                                    <div class="cbp-caption-activeWrap">
                                        <!-- CAPTION BODY -->
                                        <div class="cbp-l-caption-alignCenter">
                                            <!-- CAPTION BODY INNER -->
                                            <div class="cbp-l-caption-body">
                                                <h5 class="hover-animated">Showcase Ajax</h5>
                                                <p class="hover-animated">Minimal / Image</p>
                                            </div>
                                            <!-- /CAPTION BODY INNER -->
                                        </div>
                                        <!-- /CAPTION BODY -->
                                    </div>
                                    <!-- /CAPTION WRAPPER ACTIVE -->
                                </a>
                                <!-- /CAPTION -->
                            </div>
                            <!-- /ITEM -->
                            <!-- ITEM -->
                            <div class="cbp-item">
                                <!-- CAPTION -->
                                <a href="pages/ajax/popups/showcases/showcase-popup-minimal-v2-slider.html" class="cbp-caption cbp-singlePage scroll-animated-from-bottom">
                                    <!-- CAPTION WRAPPER DEFAULT -->
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="assets/images/work/12.jpg" alt="work">
                                    </div>
                                    <!-- /CAPTION WRAPPER DEFAULT -->
                                    <!-- CAPTION WRAPPER ACTIVE -->
                                    <div class="cbp-caption-activeWrap">
                                        <!-- CAPTION BODY -->
                                        <div class="cbp-l-caption-alignCenter">
                                            <!-- CAPTION BODY INNER -->
                                            <div class="cbp-l-caption-body">
                                                <h5 class="hover-animated">Showcase Ajax</h5>
                                                <p class="hover-animated">Minimal / Slider</p>
                                            </div>
                                            <!-- /CAPTION BODY INNER -->
                                        </div>
                                        <!-- /CAPTION BODY -->
                                    </div>
                                    <!-- /CAPTION WRAPPER ACTIVE -->
                                </a>
                                <!-- /CAPTION -->
                            </div>
                            <!-- /ITEM -->
                        </div>
                        <!-- /GRID -->
                        <!-- BUTTON LOAD MORE -->
                        <div id="work-loadmore" class="cbp-l-loadMore-button scroll-animated-from-bottom">
                            <!-- LINK LOAD MORE -->
                            <a href="pages/ajax/loadMore.html" class="cbp-l-loadMore-link load-more"  rel="nofollow">
                            <span class="cbp-l-loadMore-defaultText">Load More</span>
                            <span class="cbp-l-loadMore-loadingText">Loading...</span>
                            <span class="cbp-l-loadMore-noMoreLoading">Done</span>
                            </a>
                            <!-- /LINK LOAD MORE -->
                        </div>
                        <!-- /BUTTON LOAD MORE -->
                    </div>
                    <!-- /CONTAINER -->
                    <!-- PARALLAX BACKGROUND -->
                    <div class="dzsparallaxer auto-init do-not-set-js-height" data-options="{  mode_scroll: 'normal', animation_duration: '0' , direction: 'reverse' }">
                        <div class="divimage dzsparallaxer--target" style="background-image: url({% static 'img/parallax/1.jpg' %})"></div>
                        <div class="bg-overlay-section"></div>
                    </div>
                    <!-- /PARALLAX BACKGROUND -->
                </div>
                <!-- /CONTENT -->
            </section>
            <!-- /SERVICE -->
            <!-- WORK -->


            <!-- CONTACT -->
            <section id="contact">
                <!-- CONTENT -->
                <div class="content bg-white block-contact-1 padding-top-130 padding-bot-120">
                    <!-- CONTAINER -->
                    <div class="container">
                        <!-- HEADER -->
                        <div class="header text-center scroll-animated-from-bottom">
                            <h1>Contact</h1>
                        </div>
                        <!-- /HEADER -->
                        <!-- ROW-->
                        <div class="row">
                            <!-- TAB NAVIGATION -->
                            <ul class="tab-navigation clearfix scroll-animated-from-bottom">
                                <!-- TAB NAVIGATION ITEM-1 -->
                                <li class="active">
                                    <!-- TAB LINK -->
                                    <a href="#contact-data-1" data-toggle="tab">
                                    <span class="ti-comment-alt"></span>Contact Us
                                    </a>
                                    <!-- /TAB LINK -->
                                </li>
                                <!-- /TAB NAVIGATION ITEM-1 -->
                                <!-- TAB NAVIGATION ITEM-2 -->

                                <!-- /TAB NAVIGATION ITEM-2 -->
                                <!-- TAB NAVIGATION ITEM-3 -->
                                <li>
                                    <!-- TAB LINK -->
                                    <a href="#contact-data-3" data-toggle="tab">
                                    <span class="ti-vector"></span>Follow Us
                                    </a>
                                    <!-- /TAB LINK -->
                                </li>
                                <!-- /TAB NAVIGATION ITEM-3 -->
                            </ul>
                            <!-- /TAB NAVIGATION -->
                        </div>
                        <!-- ROW-->
                        <!-- TAB CONTENT CONTAINER -->
                        <div class="tab-content">
                            <!-- TAB CONTENT ITEM-1 -->
                            <div class="tab-pane fade in active" id="contact-data-1">
                                <!-- FORM-->
                                <form id="contact-form" action="assets/contact.php" method="post" autocomplete="off">
                                    <!-- FORM GROUP -->
                                    <div class="form-group scroll-animated-from-bottom">
                                        <input type="text" id="contact-form-name" class="form-control" name="name" placeholder="* NAME">
                                    </div>
                                    <!-- /FORM GROUP -->
                                    <!-- FORM GROUP -->
                                    <div class="form-group scroll-animated-from-bottom">
                                        <input type="text" id="contact-form-email" class="form-control" name="email" placeholder="* EMAIL">
                                    </div>
                                    <!-- /FORM GROUP -->
                                    <!-- FORM GROUP -->
                                    <div class="form-group scroll-animated-from-bottom">
                                        <input type="text" id="contact-form-phone" class="form-control" name="phone" placeholder="* PHONE">
                                    </div>
                                    <!-- /FORM GROUP -->
                                    <!-- FORM GROUP -->
                                    <div class="form-group scroll-animated-from-bottom">
                                        <input type="text" id="contact-form-subject" class="form-control" name="subject" placeholder="* SUBJECT">
                                    </div>
                                    <!-- /FORM GROUP -->
                                    <!-- FORM GROUP -->
                                    <div class="form-group button-container scroll-animated-from-bottom">
                                        <input type="text" id="contact-form-message" class="form-control" name="message" placeholder="* MESSAGE">
                                        <!-- BUTTON WRAPPER -->
                                        <div class="button-wrapper">
                                            <button type="submit"><span class="ti-arrow-right"></span></button>
                                        </div>
                                        <!-- /BUTTON WRAPPER -->
                                    </div>
                                    <!-- /FORM GROUP -->
                                </form>
                                <!-- /FORM-->
                            </div>
                            <!-- /TAB CONTENT ITEM-1 -->
                            <!-- TAB CONTENT ITEM-2 -->
                                                        <!-- /TAB CONTENT ITEM-2 -->
                            <!-- TAB CONTENT ITEM-3 -->
                            <div class="tab-pane fade" id="contact-data-3">
                                <!-- ROW -->
                                <div class="row">
                                    <!-- COLUMN -->
                                    <div class="col-xs-4">
                                        <!-- CONTAINER SOCIAL ITEM -->
                                        <div class="container-social-item">
                                            <!-- CONTAINER ICON -->
                                            <div class="container-icon">
                                                <span class="ti-facebook"></span>
                                            </div>
                                            <!-- /CONTAINER ICON -->
                                            <!-- CONTAINER DESCRIPTION -->
                                            <div class="container-description">
                                                <!-- LINK -->
                                                <a href="#" target="_blank">
                                                    <h5>Facebook<span class="ti-new-window"></span></h5>
                                                </a>
                                                <!-- /LINK -->
                                            </div>
                                            <!-- /CONTAINER DESCRIPTION -->
                                        </div>
                                        <!-- /CONTAINER SOCIAL ITEM -->
                                    </div>
                                    <!-- /COLUMN -->
                                    <!-- COLUMN -->
                                    <div class="col-xs-4">
                                        <!-- CONTAINER SOCIAL ITEM -->
                                        <div class="container-social-item">
                                            <!-- CONTAINER ICON -->
                                            <div class="container-icon">
                                                <span class="ti-google"></span>
                                            </div>
                                            <!-- /CONTAINER ICON -->
                                            <!-- CONTAINER DESCRIPTION -->
                                            <div class="container-description">
                                                <!-- LINK -->
                                                <a href="#" target="_blank">
                                                    <h5>Google +<span class="ti-new-window"></span></h5>
                                                </a>
                                                <!-- /LINK -->
                                            </div>
                                            <!-- /CONTAINER DESCRIPTION -->
                                        </div>
                                        <!-- /CONTAINER SOCIAL ITEM -->
                                    </div>
                                    <!-- /COLUMN -->
                                    <!-- COLUMN -->
                                    <div class="col-xs-4">
                                        <!-- CONTAINER SOCIAL ITEM -->
                                        <div class="container-social-item">
                                            <!-- CONTAINER ICON -->
                                            <div class="container-icon">
                                                <span class="ti-twitter-alt"></span>
                                            </div>
                                            <!-- /CONTAINER ICON -->
                                            <!-- CONTAINER DESCRIPTION -->
                                            <div class="container-description">
                                                <!-- LINK -->
                                                <a href="#" target="_blank">
                                                    <h5>Twitter<span class="ti-new-window"></span></h5>
                                                </a>
                                                <!-- /LINK -->
                                            </div>
                                            <!-- /CONTAINER DESCRIPTION -->
                                        </div>
                                        <!-- /CONTAINER SOCIAL ITEM -->
                                    </div>
                                    <!-- /COLUMN -->
                                </div>
                                <!-- /ROW -->
                                <!-- ROW -->
                                <div class="row">
                                    <!-- COLUMN -->
                                    <div class="col-xs-4">
                                        <!-- CONTAINER SOCIAL ITEM -->
                                        <div class="container-social-item">
                                            <!-- CONTAINER ICON -->
                                            <div class="container-icon">
                                                <span class="ti-instagram"></span>
                                            </div>
                                            <!-- /CONTAINER ICON -->
                                            <!-- CONTAINER DESCRIPTION -->
                                            <div class="container-description">
                                                <!-- LINK -->
                                                <a href="#" target="_blank">
                                                    <h5>Instagram<span class="ti-new-window"></span></h5>
                                                </a>
                                                <!-- /LINK -->
                                            </div>
                                            <!-- /CONTAINER DESCRIPTION -->
                                        </div>
                                        <!-- /CONTAINER SOCIAL ITEM -->
                                    </div>
                                    <!-- /COLUMN -->
                                    <!-- COLUMN -->
                                    <div class="col-xs-4">
                                        <!-- CONTAINER SOCIAL ITEM -->
                                        <div class="container-social-item">
                                            <!-- CONTAINER ICON -->
                                            <div class="container-icon">
                                                <span class="ti-linkedin"></span>
                                            </div>
                                            <!-- /CONTAINER ICON -->
                                            <!-- CONTAINER DESCRIPTION -->
                                            <div class="container-description">
                                                <!-- LINK -->
                                                <a href="#" target="_blank">
                                                    <h5>LinkedIn<span class="ti-new-window"></span></h5>
                                                </a>
                                                <!-- /LINK -->
                                            </div>
                                            <!-- /CONTAINER DESCRIPTION -->
                                        </div>
                                        <!-- /CONTAINER SOCIAL ITEM -->
                                    </div>
                                    <!-- /COLUMN -->
                                    <!-- COLUMN -->
                                    <div class="col-xs-4">
                                        <!-- CONTAINER SOCIAL ITEM -->
                                        <div class="container-social-item">
                                            <!-- CONTAINER ICON -->
                                            <div class="container-icon">
                                                <span class="ti-pinterest-alt"></span>
                                            </div>
                                            <!-- /CONTAINER ICON -->
                                            <!-- CONTAINER DESCRIPTION -->
                                            <div class="container-description">
                                                <!-- LINK -->
                                                <a href="#" target="_blank">
                                                    <h5>Pinterest<span class="ti-new-window"></span></h5>
                                                </a>
                                                <!-- /LINK -->
                                            </div>
                                            <!-- /CONTAINER DESCRIPTION -->
                                        </div>
                                        <!-- /CONTAINER SOCIAL ITEM -->
                                    </div>
                                    <!-- /COLUMN -->
                                </div>
                                <!-- /ROW- -->
                                <!-- ROW -->
                                <div class="row">
                                    <!-- COLUMN -->
                                    <div class="col-xs-4">
                                        <!-- CONTAINER SOCIAL ITEM -->
                                        <div class="container-social-item">
                                            <!-- CONTAINER ICON -->
                                            <div class="container-icon">
                                                <span class="ti-youtube"></span>
                                            </div>
                                            <!-- /CONTAINER ICON -->
                                            <!-- CONTAINER DESCRIPTION -->
                                            <div class="container-description">
                                                <!-- LINK -->
                                                <a href="#" target="_blank">
                                                    <h5>Youtube<span class="ti-new-window"></span></h5>
                                                </a>
                                                <!-- /LINK -->
                                            </div>
                                            <!-- /CONTAINER DESCRIPTION -->
                                        </div>
                                        <!-- /CONTAINER SOCIAL ITEM -->
                                    </div>
                                    <!-- /COLUMN -->
                                    <!-- COLUMN -->
                                    <div class="col-xs-4">
                                        <!-- CONTAINER SOCIAL ITEM -->
                                        <div class="container-social-item">
                                            <!-- CONTAINER ICON -->
                                            <div class="container-icon">
                                                <span class="ti-vimeo-alt"></span>
                                            </div>
                                            <!-- /CONTAINER ICON -->
                                            <!-- CONTAINER DESCRIPTION -->
                                            <div class="container-description">
                                                <!-- LINK -->
                                                <a href="#" target="_blank">
                                                    <h5>Vimeo<span class="ti-new-window"></span></h5>
                                                </a>
                                                <!-- /LINK -->
                                            </div>
                                            <!-- /CONTAINER DESCRIPTION -->
                                        </div>
                                        <!-- /CONTAINER SOCIAL ITEM -->
                                    </div>
                                    <!-- /COLUMN -->
                                    <!-- COLUMN -->
                                    <div class="col-xs-4">
                                        <!-- CONTAINER SOCIAL ITEM -->
                                        <div class="container-social-item">
                                            <!-- CONTAINER ICON -->
                                            <div class="container-icon">
                                                <span class="ti-soundcloud"></span>
                                            </div>
                                            <!-- /CONTAINER ICON -->
                                            <!-- CONTAINER DESCRIPTION -->
                                            <div class="container-description">
                                                <!-- LINK -->
                                                <a href="#" target="_blank">
                                                    <h5>Soundcloud<span class="ti-new-window"></span></h5>
                                                </a>
                                                <!-- /LINK -->
                                            </div>
                                            <!-- /CONTAINER DESCRIPTION -->
                                        </div>
                                        <!-- /CONTAINER SOCIAL ITEM -->
                                    </div>
                                    <!-- /COLUMN -->
                                </div>
                                <!-- /ROW -->
                            </div>
                            <!-- /TAB CONTENT ITEM-3 -->
                        </div>
                        <!-- /TAB CONTENT CONTAINER -->
                    </div>
                    <!-- /CONTAINER -->
                </div>
                <!-- /CONTENT -->
            </section>
            <!-- /CONTACT -->
            <!-- FOOTER -->
            <footer>
                <!-- CONTENT -->
                <div class="content bg-black bg-parallax block-footer-1 padding-top-110 padding-bot-150">
                    <!-- CONTAINER -->
                    <div class="container">
                        <!-- ROW -->
                        <div class="row">
                            <!-- COLUMN -->
                            <div class="col-lg-12 text-center">
                                <img class="img-responsive scroll-animated-from-bottom" src="assets/images/logo-white-footer.png" alt="logo">
                                <h5 class="scroll-animated-from-bottom">© 2016. All Rights Reserved.</h5>
                            </div>
                            <!-- /COLUMN -->
                        </div>
                        <!-- /ROW -->
                    </div>
                    <!-- /CONTAINER -->
                    <!-- BUTTON SCROLL TOP CONTAINER -->
                    <div class="scroll-top">
                        <!-- BUTTON SCROLL TOP INNER -->
                        <div class="scroll-top-inner scroll-animated-from-bottom">
                            <span class="ti-arrow-up"></span>
                        </div>
                        <!-- /BUTTON SCROLL TOP INNER -->
                    </div>
                    <!-- /BUTTON SCROLL TOP CONTAINER -->
                    <!-- PARALLAX BACKGROUND -->
                    <div class="dzsparallaxer auto-init do-not-set-js-height" data-options="{  mode_scroll: 'normal', animation_duration: '0' , direction: 'reverse' }">
                        <div class="divimage dzsparallaxer--target" style="background-image: url({% static 'img/parallax/4.jpg' %})"></div>
                        <div class="bg-overlay-section"></div>
                    </div>
                    <!-- /PARALLAX BACKGROUND -->
                </div>
                <!-- /CONTENT -->
            </footer>
            <!-- /FOOTER -->
            <!-- PHANTOM WRAPPER FOR POPUPS ( REQUIRED FOR POPUPS )-->
            <div class="phantom-wrapper-popups"></div>
        </div>
        <!-- /MAIN-->
        <!-- JAVASCRIPTS CORE-->
        <script type="text/javascript" src="{% static 'js/plugin/jquery-1.12.4.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/plugin/plugins.js' %}"></script>
        <!-- JAVASCRIPTS TEMPLATE CONFIG -->
        <script type="text/javascript" src="{% static 'js/config.js' %}"></script>
        <!-- JAVASCRIPTS TEMPLATE -->
        <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/hero.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/blocks.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    </body>
</html>

