{% extends 'share_layout/layout.html' %}
{% load static %}

{% block skin %}
    {% with "css/color/"|add:data.skin_type as skin%}
        <link rel="stylesheet" type="text/css" href="{% static skin %}">
    {% endwith %}
{% endblock %}

{% block content %}
<div id="main">
    <!-- HERO -->
    <section id="hero" class="hero hero-2">
        <!-- FRONT CONTENT -->
        <div class="front-content page-enter-animated">
            <!-- CONTAINER MID -->
            <div class="container-mid">
                <!-- INNER FRONT CONTENT -->
                <div class="inner 3d-hover">
                    <h1>{{ data.logo }}</h1>
                    <p>{{ data.one_row }}</p>
                </div>
                <!-- /INNER FRONT CONTENT -->
            </div>
            <!-- /CONTAINER MID -->
            <div class="scroll-down"></div>
            <!-- CONTROLS -->
            <div class="controls">
                <i class="volume-button fa fa-volume-up"></i>
                <i class="pause-button ti-control-pause"></i>
            </div>
            <!--/ CONTROLS -->
        </div>
        <!-- /FRONT CONTENT -->
        <!-- BACKGROUND CONTENT -->
        <div class="background-content page-enter-animated">
            <!-- LEVEL 1 -->
            <div class="level-1">
                <div class="bg-overlay"></div>
                <div class="bg-pattern"></div>
                <div id="canvas">
                    <canvas class="bg-effect layer" data-depth="0.2"></canvas>
                </div>
            </div>
            <!-- /LEVEL 1 -->
            <!-- LEVEL 2 -->
            <div class="level-2">
                <!-- PARALLAX BACKGROUND -->
                <div class="dzsparallaxer auto-init allbody" data-options="{  mode_scroll: 'fromtop', animation_duration: '2' , direction: 'reverse' }">
                    <!-- PARALLAX TARGET -->
                    <div class="dzsparallaxer--target">
                        <div class="bg-image layer" data-depth="0.04"></div>
                        <div class="bg-video layer" data-depth="0.04"></div>
                        <div class="bg-color layer" data-depth="0.04"></div>
                    </div>
                    <!-- /PARALLAX TARGET -->
                </div>
                <!-- /PARALLAX BACKGROUND -->
            </div>
            <!-- /LEVEL 2 -->
        </div>
        <!-- /BACKGROUND CONTENT -->
    </section>
    <!-- /HERO -->
    <!-- NAVIGATION -->
    <nav class="navigation-main">
        <!-- CONTAINER -->
        <div class="container">
            <!-- NAVIGATION HEADER -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="ti-menu"></span>
                </button>
                <a class="navbar-brand" href="#">{{ data.logo }}</a>
            </div>
            <!-- /NAVIGATION HEADER -->
            <!-- NAVBAR -->
            <div id="navbar" class="navbar-collapse collapse">
                <!-- MENU ITEMS LIST -->
                <ul class="navigation-items nav navbar-nav navbar-right">
                    <li> <a class="phantom" href="#hero">Home</a> </li>
                    <li> <a href="#about">About</a> </li>
                    <li> <a href="#work">Work</a> </li>
                    <li> <a href="#contact">Contact</a> </li>
                    <!-- DROPDOWN MENU -->

                    <!-- /DROPDOWN MENU -->
                </ul>
                <!-- /MENU ITEMS LIST -->
            </div>
            <!-- /NAVBAR -->
        </div>
        <!-- /CONTAINER -->
    </nav>
    <!-- /NAVIGATION -->
    <!-- ABOUT -->
    <section id="about">
        <!-- CONTENT -->
        <div class="content bg-white block-about-1 padding-top-140 padding-bot-130">
            <!-- CONTAINER -->
            <div class="container text-left">
                <!-- HEADER -->
                <div class="header text-center scroll-animated-from-bottom">
                    <h1>About</h1>
                </div>
                <!-- /HEADER -->
                <!-- ROW -->
                <div class="row padding-top-50">
                    <!-- COLUMN -->
                    {% for about in abouts %}

                     <div class="col-sm-6">
                        {% if about.title %}
                            <h3 class="scroll-animated-from-bottom">
                               {{ about.title }}
                            </h3>
                        {% endif %}
                        <p class="scroll-animated-from-bottom">
                            {{ about.content }}
                        </p>
                        {% if about.photo %}
                            <img class="img-responsive scroll-animated-from-bottom" src="{{ about.photo.url }}" alt="Edit me">
                        {% endif %}
                    </div>
                    {% endfor %}

                    <!-- /COLUMN -->
                </div>
                <!-- ROW -->
            </div>
            <!-- /CONTAINER -->
        </div>
        <!-- /CONTENT -->
    </section>
    <!-- /ABOUT -->
    <!-- SERVICE -->
    <section id="work">
        <!-- CONTENT -->
        <div class="content bg-black bg-parallax block-service-1 padding-top-130 padding-bot-200">
            <!-- CONTAINER -->
            <div class="container text-center">
                <!-- HEADER -->
                <div class="header text-center scroll-animated-from-bottom">
                    <h1>PortFolio</h1>
                </div>
                <!-- /HEADER -->
                <!-- GRID -->
                <div class="cbp work-grid">
                    {% for pf in pf_list %}
                        <div class="cbp-item">
                            <!-- CAPTION -->
                            <a href="{% url 'home:portfolio' pf.id %}" class="cbp-caption cbp-singlePage scroll-animated-from-bottom portfolio_btn">
                                <!-- CAPTION WRAPPER DEFAULT -->
                                <div class="cbp-caption-defaultWrap">
                                    <img src="{{ pf.main_img.url }}">
                                </div>
                                <!-- /CAPTION WRAPPER DEFAULT -->
                                <!-- CAPTION WRAPPER ACTIVE -->
                                <div class="cbp-caption-activeWrap">
                                    <!-- CAPTION BODY -->
                                    <div class="cbp-l-caption-alignCenter">
                                        <!-- CAPTION BODY INNER -->
                                        <div class="cbp-l-caption-body">
                                            <h5 class="hover-animated">{{ pf.main_title }}</h5>
                                        </div>
                                        <!-- /CAPTION BODY INNER -->
                                    </div>
                                    <!-- /CAPTION BODY -->
                                </div>
                                <!-- /CAPTION WRAPPER ACTIVE -->
                            </a>
                            <!-- /CAPTION -->
                        </div>
                    {% endfor %}

                </div>
                <!-- /GRID -->
                <!-- BUTTON LOAD MORE -->
                <div id="work-loadmore" class="cbp-l-loadMore-button scroll-animated-from-bottom">
                    <!-- LINK LOAD MORE
                    <a href="pages/ajax/loadMore.html" class="cbp-l-loadMore-link load-more"  rel="nofollow">
                    <span class="cbp-l-loadMore-defaultText">Load More</span>
                    <span class="cbp-l-loadMore-loadingText">Loading...</span>
                    <span class="cbp-l-loadMore-noMoreLoading">Done</span>
                    </a>
                    /LINK LOAD MORE -->
                </div>
                <!-- /BUTTON LOAD MORE -->
            </div>
            <!-- /CONTAINER -->
            <!-- PARALLAX BACKGROUND -->
            <div class="dzsparallaxer auto-init do-not-set-js-height" data-options="{  mode_scroll: 'normal', animation_duration: '0' , direction: 'reverse' }">
                <div class="divimage dzsparallaxer--target" style="background-image: url({% static 'img/parallax/1.jpg' %})"></div>
                <div class="bg-overlay-section"></div>
            </div>
            <!-- /PARALLAX BACKGROUND -->
        </div>
        <!-- /CONTENT -->
    </section>
    <!-- /SERVICE -->
    <!-- WORK -->


    <!-- CONTACT -->
    <section id="contact">
        <!-- CONTENT -->
        <div class="content bg-white block-contact-1 padding-top-130 padding-bot-120">
            <!-- CONTAINER -->
            <div class="container">
                <!-- HEADER -->
                <div class="header text-center scroll-animated-from-bottom">
                    <h1>Contact</h1>
                </div>
                <!-- /HEADER -->
                <!-- ROW-->
                {% if data.using_sns %}
                    <div class="row">
                        <!-- TAB NAVIGATION -->
                        <ul class="tab-navigation clearfix scroll-animated-from-bottom">
                            <!-- TAB NAVIGATION ITEM-1 -->
                            <li class="active">
                                <!-- TAB LINK -->
                                <a href="#contact-data-1" data-toggle="tab">
                                <span class="ti-comment-alt"></span>Contact Me
                                </a>
                                <!-- /TAB LINK -->
                            </li>
                            <!-- /TAB NAVIGATION ITEM-1 -->
                            <!-- TAB NAVIGATION ITEM-3 -->
                            <li>
                                <!-- TAB LINK -->
                                <a href="#contact-data-3" data-toggle="tab">
                                <span class="ti-vector"></span>Follow Me
                                </a>
                                <!-- /TAB LINK -->
                            </li>
                            <!-- /TAB NAVIGATION ITEM-3 -->
                        </ul>
                        <!-- /TAB NAVIGATION -->
                    </div>
                {% endif %}
                <!-- ROW-->
                <!-- TAB CONTENT CONTAINER -->

                <div class="tab-content">
                    <!-- TAB CONTENT ITEM-1 -->
                    <div class="tab-pane fade in active" id="contact-data-1">
                        <!-- FORM-->
                        <form method="POST">
                            {% csrf_token %}
                            <!-- FORM GROUP -->
                            <div class="form-group scroll-animated-from-bottom">
                                {{ form.name }}
                            </div>
                            <!-- /FORM GROUP -->
                            <!-- FORM GROUP -->
                             <div class="form-group scroll-animated-from-bottom">
                                {{ form.mail }}
                            </div>

                            <!-- FORM GROUP -->
                            <div class="form-group scroll-animated-from-bottom">
                                {{ form.subject }}
                            </div>
                            <!-- /FORM GROUP -->
                            <!-- FORM GROUP -->
                            <div class="form-group button-container scroll-animated-from-bottom">
                                {{ form.message }}
                                <!-- BUTTON WRAPPER -->
                                <div class="button-wrapper">
                                    <button type="submit"><span class="ti-arrow-right"></span></button>
                                </div>
                                <!-- /BUTTON WRAPPER -->
                            </div>
                            <!-- /FORM GROUP -->
                        </form>
                        <!-- /FORM-->
                    </div>
                    <!-- /TAB CONTENT ITEM-1 -->
                    <!-- TAB CONTENT ITEM-2 -->
                                                <!-- /TAB CONTENT ITEM-2 -->
                    <!-- TAB CONTENT ITEM-3 -->
                    <div class="tab-pane fade" id="contact-data-3">
                        <!-- ROW -->

                        {% for sns in sns_list %}

                            {% if forloop.counter == 1 or forloop.counter|divisibleby:4 %}
                                <div class="row">
                            {% endif %}

                            <div class="col-xs-4">
                                <!-- CONTAINER SOCIAL ITEM -->
                                <div class="container-social-item">
                                    <!-- CONTAINER ICON -->
                                    <div class="container-icon">

                                        <span class="{{ sns.sns_type }}"></span>
                                    </div>
                                    <!-- /CONTAINER ICON -->
                                    <!-- CONTAINER DESCRIPTION -->
                                    <div class="container-description">
                                        <!-- LINK -->
                                        <a href="{{ sns.sns_url }}" target="_blank">
                                            <h5>{{ sns }}<span class="ti-new-window"></span></h5>
                                        </a>
                                        <!-- /LINK -->
                                    </div>
                                    <!-- /CONTAINER DESCRIPTION -->
                                </div>
                                <!-- /CONTAINER SOCIAL ITEM -->
                            </div>

                            {% if forloop.counter|divisibleby:3 or forloop.last %}
                                <div></div>

                                </div>
                            {% endif %}

                        {% endfor %}


                    </div>
                    <!-- /TAB CONTENT ITEM-3 -->
                </div>
                <!-- /TAB CONTENT CONTAINER -->
            </div>
            <!-- /CONTAINER -->
        </div>
        <!-- /CONTENT -->
    </section>
    <!-- /CONTACT -->
    <!-- FOOTER -->
    <footer>
        <!-- CONTENT -->
        <div class="content bg-black bg-parallax block-footer-1 padding-top-110 padding-bot-150">
            <!-- CONTAINER -->
            <div class="container">
                <!-- ROW -->
                <div class="row">
                    <!-- COLUMN -->
                    <div class="col-lg-12 text-center">
                        <h4 class="img-responsive scroll-animated-from-bottom">{{ data.logo }}</h4><br>
                        <h5 class="scroll-animated-from-bottom">© 2019. All Rights Reserved.</h5>
                    </div>
                    <!-- /COLUMN -->
                </div>
                <!-- /ROW -->
            </div>
            <!-- /CONTAINER -->
            <!-- BUTTON SCROLL TOP CONTAINER -->
            <div class="scroll-top">
                <!-- BUTTON SCROLL TOP INNER -->
                <div class="scroll-top-inner scroll-animated-from-bottom">
                    <span class="ti-arrow-up"></span>
                </div>
                <!-- /BUTTON SCROLL TOP INNER -->
            </div>
            <!-- /BUTTON SCROLL TOP CONTAINER -->
            <!-- PARALLAX BACKGROUND -->
            <div class="dzsparallaxer auto-init do-not-set-js-height" data-options="{  mode_scroll: 'normal', animation_duration: '0' , direction: 'reverse' }">
                <div class="divimage dzsparallaxer--target" style="background-image: url({% static 'img/parallax/4.jpg' %})"></div>
                <div class="bg-overlay-section"></div>
            </div>
            <!-- /PARALLAX BACKGROUND -->
        </div>
        <!-- /CONTENT -->
    </footer>
    <!-- /FOOTER -->
    <!-- PHANTOM WRAPPER FOR POPUPS ( REQUIRED FOR POPUPS )-->
    <div class="phantom-wrapper-popups"></div>
</div>
{% endblock %}
